#Python Asyncronous 1 ‚≠ê

##A. Create a python syntax based on the instructions below!

1. Instruction:<br>
Create a variable list_sample in the form of a "list" with 10 elements! Return list_sample!

In [ ]:
list_sample = [20,43,50,34,20,42,90,53,76,84]

print(list_sample) #menampilkan value dari list_sample

[20, 43, 50, 34, 20, 42, 90, 53, 76, 84]

2. Instruction: <br>
Return the second element from list_sample!

In [ ]:
print(list_sample[1]) #menampilkan elemen kedua dari list (index ke-1)

43

3. Instruction:<br>
Add a new element in the form of a list with 5 elements in the sixth position! Return list_sample!

In [ ]:
list_sample.insert(5, [24,53,75,13,40]) #menambahkan list baru di posisi ke 6 (index ke-5)

print(list_sample)

[20, 43, 50, 34, 20, [24, 53, 75, 13, 40], 42, 90, 53, 76, 84]

4. Instruction:<br>
Return the 4th element of the list created in instruction number 3!

In [ ]:
print(list_sample[5][3]) #menampilkan value ke 4 dari list baru (index ke-3)

13

5. Instruction:<br>
Update the 10th element of list_sample with 'Practice'. Return list_sample!

In [ ]:
list_sample[9] = 'Practice' #mengganti elemen ke 10 (index ke-9)

print(list_sample)

[20, 43, 50, 34, 20, [24, 53, 75, 13, 40], 42, 90, 53, 'Practice', 84]

6. Instruction:<br>
Return the 10th output element that has been changed!

In [ ]:
print(list_sample[9]) #menampilkan elemen ke 10 yang sudah diganti

Practice

7. Instruction:<br>
Return the count of one of the elements in list_sample!

In [ ]:
print(list_sample.count(20)) #menghitung jumlah nilai 20 yang ada pada list

2

8. Instruction:<br>
Return the number of elements in the list_sample!

In [ ]:
print(len(list_sample)) #menghitung banyaknya value pada list

11

9. Instruction:<br>
Remove elements in the form of lists from list_sample! Return list_sample!

In [ ]:
list_sample.remove(20) #menghilangkan value dengan angka 20 pada list

print(list_sample)

[43, 50, 34, 20, [24, 53, 75, 13, 40], 42, 90, 53, 'Practice', 84]

10. Instruction:<br>
Remove all elements from the list_sample! Return list_sample!

In [ ]:
list_sample.clear() #menghapus semua elemen di list

print(list_sample)

[]

##B. Make a simple program about mathematical calculations!

###1st Example

In [ ]:

#meminta input dari user
kilometer = float(input("Masukan bilangan yang ingin di konversi: "))

#konversi kilometer ke meter
meter = kilometer * 1000

#menampilkan hasil konversi
print(f"{kilometer} kilometer = {meter} meter")

###2nd Example

In [ ]:
# Menginput Alas dan Tinggi Segitiga
alas = float(input('Tulis Alas Segitiga: '))
tinggi = float(input('Tulis Tinggi Segitiga: '))

# Hitung Luas Segitiga
luas = (alas * tinggi) / 2

#Menampilkan Hasil Perhitungan
print(f'Luas Segitiga tersebut adalah {luas}')

###Your Turn! üî•

In [ ]:
#menghitung volume tabung

#masukkan nilai jari-jari dan tinggi
jari_jari = float(input("Masukkan jari-jari tabung: "))
tinggi = float(input("Masukkan tinggi tabung: "))

#hitung volume tabung
volume = 3.14 * jari_jari**2 * tinggi # nilai pi 3.14 bisa juga diganti dengan math.pi (harus import library math)

#cetak hasil volume
print(f"Volume tabung dengan jari-jari {jari_jari} dan tinggi {tinggi} adalah {volume:.2f}")

Masukkan jari-jari tabung: 7
Masukkan tinggi tabung: 14
Volume tabung dengan jari-jari 7.0 dan tinggi 14.0 adalah 2154.04